@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Montserrat:wght@300;400;700;900&display=swap');
:root{
    --bodyfont:'Montserrat', sans-serif;
    --primaryColor:#272b34;
    --secondaryColor:#8df48b;
    --acccents:#d85080;
    --white:#fff;
    --lightGray: #f1f1f1;
    --font:16px;
    --textShadow: 5px 5px 20px var(--primaryColor);
    --transition: .3s ease;
}
body{
    font-family: var(--bodyfont);
    font-size: var(--font);
}
h1,h2,h3,h4{
    font-weight: 900;
    letter-spacing: 2px;
}
h2{
    font-size: 3rem;
}
h2::after{
    display: block;
    content: "";
    width: 20%;
    height: 5px;
    background-color: var(--secondaryColor);
    margin: 30px auto;
}
.alert-success{
    background: var(--secondaryColor);
    border-radius: 0 15px 15px 15px;
}
.btn-danger{
    background-color: var(--acccents);
    border-radius: 0 15px 15px 15px;
}
/*********
MainHeader
*********/
.mainHeader{
    background-image: url(img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
}
nav{
    position: relative;
    top: 50px;
}
.mainHeader hgroup{
    margin-top: 250px;
}
.mainHeader hgroup h1{
    font-size: 6rem;
    color: var(--secondaryColor);
    text-shadow: var(--textShadow);
}
.navbar-brand{
    background: var(--secondaryColor);
    padding: 10px;
    color: var(--primaryColor) !important;
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Faster One', cursive;
    font-size: 2rem;
    letter-spacing: 2px;
}
.navbar-brand:hover{
    background: var(--primaryColor);
    color: var(--secondaryColor) !important;
    transition: var(--transition);
}
.navbar {
     padding:0 20px 0 0;
     background: var(--primaryColor) !important; 
}
.nav-link{
    color: var(--secondaryColor) !important;
    text-transform: uppercase;
}
.nav-link:hover{
    color: var(--white) !important;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color:var(--white) !important;  
}
/*********
About-us
*********/
.about-us{
    background: var(--primaryColor);
}
/*********
Theme
*********/
.theme{
    background: var(--secondaryColor);
}
.theme h2::after{
    display: block;
    content: "";
    width: 20%;
    height: 5px;
    background-color: var(--primaryColor);
    margin: 30px auto;
}
.theme i{
    background: var(--primaryColor);
    color: var(--white);
    width: 200px;
    height: 200px;
    line-height: 200px;
    font-size: 4rem;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}
/*********
cta
*********/
.cta{
    background-image: linear-gradient(rgba(241,241,241,.7),rgba(241,241,241,.7)), url(img/cta.jpg);
    background-position: center;
    background-size: cover;
    color: var(--primaryColor);
    padding: 130px;
}
.cta h2::after{
    display: block;
    content: "";
    width: 20%;
    height: 5px;
    background-color: var(--acccents);
    margin: 30px auto;
}
/*********
footer
*********/
footer{
    background: var(--primaryColor);
    color: var(--white);
    border-bottom: 5px solid var(--secondaryColor);
}
footer a{
    color: var(--secondaryColor);
}
footer a:hover{
    color: var(--white);
}
@media(max-width:768px){
    .nav-link{
        margin-left: 15px;
        margin-bottom: 5px;
        font-weight: 400;
    }
    .mainHeader hgroup h1{
        font-size: 3rem;
    }
    .mainHeader p{
        font-size: 17px;
    }
    h2{
        font-size: 2rem;
    }
    .about-us p{
        font-size: 14px;
    }
    .theme p{
        font-size: 17px;
    }
    .theme h3{
        font-size: 28px;
    }
    .theme i{
        width: 160px;
        height: 160px;
        line-height: 160px;
        font-size: 3rem;
        margin-bottom: 20px;
     
    }
}